@use "../reset";

.footer {
    height: var(--footer-height);
    text-align: center;
    padding: var(--common-padding);

    span {
        font-size: 12px;
        opacity: 0.5;
        line-height: 1;
    }
}
