.clients {
    padding-bottom: 75px;

    > h2 {
        font-size: 35px;
        margin-bottom: 15px;

        + a {
            color: rgb(var(--highlight-color));
            text-decoration: none;
            opacity: 0.75;
            transition: opacity ease 250ms;

            &:hover {
                opacity: 1;
            }
        }
    }

    #delete-confirmation-modal {
        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            button {
                min-width: 100px;
            }
        }
    }
}
