@use "../../../styles/variables";
@use "../../../styles/shared/mixins";

.container {
	max-width: 100%;
	overflow-x: auto;
	@include mixins.custom-scrollbar;
}

.table {
	width: 100%;
	text-align: left;
	white-space: nowrap;
	border-collapse: collapse;

	thead {
		tr {
			border-bottom: 1px solid rgba(var(--primary-color), 0.2);
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid rgba(var(--primary-color), 0.1);
			transition: background-color ease 250ms;

			&:hover {
				background-color: rgba(var(--primary-color), 0.05);
			}
		}

		td {
			b:global(.highlight) {
				color: rgb(var(--highlight-color));
			}
		}
	}

	th {
		font-weight: variables.font-weight(medium);
		padding: 10px 15px;
	}

	td {
		font-size: 14px;
		padding: 20px 15px;
	}

	td,
	th {
		min-width: 100px;
	}

	.noRecordsMessage {
		color: rgba(var(--primary-color), 0.5);
	}
}
