@use "./variables";

input,
select,
.btn {
    padding: 10px;
    border-radius: 5px;
}

input,
select {
    font-family: var(--primary-font);
    border: 1px solid #999;
}

.btn {
    display: inline-block;
    background-color: rgb(var(--highlight-color));
    color: rgb(var(--secondary-color));
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-weight: variables.font-weight(bold);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: background-color ease 250ms, transform ease 250ms;
    cursor: pointer;

    &:not(:disabled) {
        &:focus,
        &:hover {
            transform: scale(1.05);
        }
    }

    &.sm {
        padding: 5px;
        font-size: 12px;
    }

    &.danger,
    &.positive {
        color: rgb(var(--primary-color));
    }

    &.positive {
        background-color: #007f0d;
    }

    &.warning {
        background-color: #f5dc00;
    }

    &.danger {
        background-color: #ca0202;
    }

    &:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
    }
}
