body {
    font-family: var(--primary-font);
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

main {
    height: var(--main-height);
    padding: var(--common-padding);
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}
