@use "../../../styles/form-elements";
@use "../../../styles/variables";

.btn {
	@extend .btn;

	&.sm {
		padding: 5px 8px;
		font-size: 12px;
	}

	&.danger,
	&.positive {
		color: rgb(var(--primary-color));
	}

	&.positive {
		background-color: rgb(var(--positive-color));
	}

	&.warning {
		background-color: rgb(var(--warning-color));
	}

	&.danger {
		background-color: rgb(var(--danger-color));
	}
}
