.pets > h1 {
	margin-bottom: 50px;
}

.filters {
	display: flex;
	gap: 25px;
	margin-bottom: 50px;

	input {
		flex: 1;
	}
}

.table {
	ul {
		line-height: 1.75;
	}

	.actions {
		button {
			+ button {
				margin-left: 15px;
			}
		}
	}
}

.form {
	select {
		grid-column: 1 / -1;
	}
}

.addPetBtn {
	position: fixed;
	right: var(--common-padding);
	bottom: calc(var(--footer-height) + 15px);
	min-width: 150px;
}
