@use "./variables";

input,
select {
	padding: 10px;
	border-radius: 5px;
	font-family: var(--primary-font);
	border: 1px solid rgba(var(--secondary-color, 0.05));
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	@media #{variables.media-query(max, md)} {
		grid-template-columns: 1fr;
	}

	label,
	input {
		display: block;
	}

	label {
		margin-bottom: 5px;
	}

	input {
		width: 100%;
	}

	[type="submit"] {
		grid-column: 1 / -1;
		min-width: 150px;
		margin: 15px auto 0;
	}

	.error {
		grid-column: 1 / -1;
		color: rgb(var(--danger-color));
		font-size: 14px;
		font-weight: variables.font-weight(semi-bold);
		text-align: center;
	}
}
